*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #121214;
    background-image: url(assets/bgBlue.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

body *{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: white;
}

#app{
    width: fit-content;
    margin: 200px auto;
    background-color: #1d1d1f;
    padding: 50px;
}

header{
    text-align: center;
    margin-bottom: 10px;
}

main{
    display: flex;
    flex-direction: column;
}

input + strong{
    margin-top: 10px;
}

#button_login{
    margin-top: 20px;
    cursor: hand;
    background-color: #1d1d1f;
    color: white;
}

input{
    border-radius: 6px;
    border: 1px solid white;
    color: black;
}

main > span{
    text-align: center;
    margin-top: 15px;
}

.border-gradient{
    border: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #00ccff, #d400d4);
}

#app{
    --angle: 0deg;
    border-image: linear-gradient(var(--angle), #00ccff, #d400d4) 1;
    animation: 6s rotate linear infinite;
 }
  
@keyframes rotate {
    to {
      --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
 }